{% extends 'base.html' %} {% block content%} {% load static%} {% block title%}
<head>
  <meta name="Key Words" content="gnp home" />
  <meta
    name="description"
    content="company key words"
  />
  <title>Global Network Point |Home </title>
</head>
{%endblock title%}
 <!-- begining of the slides on the home page -->
<main class="hero-index dropdown-disapper">
  <section class="carousel">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      
      <div class="carousel-inner">
        <BR></BR><BR></BR> <BR></BR> 
         <!-- slide 1 -->
        <div class="carousel-item  active" data-bs-interval="5000">
          <img
            src="{{first_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="For Projects Guides"
          />
          <div class="container">
            <div class="carousel-caption text-start">

              <h1 class="header-blue"></h1>
              
           
            </div>
          </div>
        </div>
         
        
      </div>
            </div>
          </div>
        </div> 
      </div>
     
      
      
    </div>
    
  </section>
 
</main>

{%endblock content%}
