{% extends 'other.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
<head>
  <meta name="Key Words" content="NMS Web Application" />
  <meta
    name="description"
    content=""
  />
{% block title%}
    <title>GNP|Network Statistics</title>
{%endblock title%}
</head>

<body class="">
  <main class="mt-5 mx-5 fs-5" >
    <div class=" text-center">
      <h5  class="">Whole Network Statistics  </h5>   
      <hr>
      <br>
    </div>  
    <form id='form-id'  method = 'GET' >
          {% csrf_token %}                                 
    <div class="d-flex justify-content-center  fs-5 g-5"> 
     
                                    {% for data  in stats %}
                                    
                                    {%if data.Service == 'Admin' %}
                                    {%if data.user.username == user.username or user.is_staff %} 
                                   
      <div class="col-4">
        <div class="p-4 border shadow bg-light">  
        
         <div class="mb-4 mx-sm-3 form">
           <label for="password" class="form-label"> Start Date</label>
           <input
             type="text"
             name="date_whole"
             class="form-control input"
             
           /> 
          
         </div> 
         <div class="mb-3 mx-sm-3 form">
          <label for="password" class="form-label"> Select start Time</label>
          <input
            type="text"
            name="starttime_whole"
            class="form-control input"
           placeholder="12:15:17 : Enter in this format"
            
          /> 
         
         </div> 
         <div class="mb-3 mx-sm-3 form">
          <label for="password" class="form-label"> Select End Time</label>
          <input
            type="text"
            name="endtime_whole"
            class="form-control input"
            placeholder="12:15:17 : Enter in this format"
          />
         
         </div> 
         <br>  
         <div class="text-center">
          <button class="w-25  mb-5 btn btn-sm bg-info">
            <a class="nav-link p-0 text-muted" href="{% url 'dashboard'%}">
            Back  </a>
          </button> 
          <button type="submit" class="w-25 mb-5 text-black btn btn-sm bg-success">
           Submit
          </button> 
         </div>                             
      </div>  
      </div> 
      
      
     
      
           
                                      {%endif%}
                                       {%endif%}
                                        {%endfor%}
                                         
     <div>
              
              <br/> 
            </div> 
    </div>
  
  </form> <br> <br>
  <p class="text-center">Graph for The Whole Network  Recorded at <strong>{{date}}</strong>  from  <strong>{{starttime}}</strong>   to <strong>{{endtime}}</strong> 
   </p>
   
   <br>
  <div class="ms-5 d-flex">
    
    
      <img src="{% static '../static/Images/Prediction/Wholeupdowns_ack.png'%} " class=" d-block "
      style="height: 1100px;"  width="1000px"> 
      
      

     
  </div>
  <br> <br>
  <p class="text-center" >
    </p>
  <div class="d-flex">
  
    <div>
      <br> <br>
      <strong>Note: </strong> Information About Down Up Ratio
      <p>If DownUp ratio is high The network is perfmoing slows </p>
      <p>If The DownUp ratio is low The Network is perfoming so well</p>
    </div>
    <div>
      <br> <br>
      <strong>Note: </strong> Acknowledgement Flag
      
      <p>If Acknowledgement Flag is 1 The network is perfmoing is perfoming so well </p>
      <p>If  Acknowledgement Flag is 0 The Network is perfoming so slow</p>
    </div>
  </div>
  <div class="text-center">
    <button class="w-25  mb-5 btn btn-sm bg-info">
      <a class="nav-link p-0 text-muted" href="{% url 'dashboard'%}">
      Back  </a>
    </button> 
   
   </div> 
  </main>


</body>
{%endblock content%}
